<div class="header-dark">
  <div class="text-center">
    <h1 class="header-dark h1">Plateforme de gestion de poissonnerie</h1>
  </div>
    <ul id="navbar" class="nav nav-tabs navigation-bar">
      <li>
        <a [ngClass]="isActive ? 'nav-link active' : 'nav-link'" (click)="goTo('home')" aria-current="page">Accueil</a>
      </li>

      <li class="nav-item">
        <a [ngClass]="isActive ? 'nav-link active' : 'nav-link'" (click)="goTo('detailsProduit')"
          aria-current="page">Détails produits</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="isActive ? 'nav-link active' : 'nav-link'" (click)="goTo('donnesHistorique')"
          aria-current="page">Données à historique</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="isActive ? 'nav-link active' : 'nav-link'" (click)="goTo('login')"
          aria-current="page">Déconnexion</a>
      </li>
    </ul>
</div>