.header-dark {
    padding:30px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }

  .header-dark h1 {
    margin-top:0;
    margin-bottom:12px;
    font-size:50px;
  }

  .header-dark li {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }

  .image {
    padding: 10px;
    text-align: center;
  }
