<div class="container">
    <header class="blog-header py-3">
    </header>
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Bienvenue sur votre plateforme</h1>
            <p class="lead my-3">Grâce à cet outil, vous pouvez dès à présent gérer vos stocks de produits et également piloter votre activité grâce à des
                la visualisation d'indicateurs clés.
            </p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Gestion de stocks</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" routerLink="/detailsProduit">Détails produits</a>
                    </h3>
                    <p class="card-text mb-auto" style="padding: 20px;">Depuis cet onglet, vous pouvez accéder directement à vos produits afin
                    de vérifier vos stocks, les modifiés selon vos réapprovisionnements, vos ventes ou vos pertes. Ce suivis vous permettra
                    ensuite de visualiser votre historique grâce à des indicateurs clés.</p>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block"
                    alt="Inventory management icon" style="object-fit: cover; width: 200px; height: 250px;"
                    src="../../../assets/icon/stock-icon.png"
                    data-holder-rendered="true">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Indicateurs d'activité</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" routerLink="/donnesHistorique">Données à historique</a>
                    </h3>
                    <p class="card-text mb-auto" style="padding: 20px;">Grâce à cet onglet, vous ne louperez rien de votre activité.
                        En effet, vous pouvez visualiser vos indicateurs clés tels que : Votre chiffre d'affaire,
                    vos bénifices, vos produits phares... Et ce en selon une certain date ou certaines catégories ou produits.</p>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" 
                    alt="Business intelligence icon"
                    src="../../../assets/icon/BI-icon.jpg"
                    data-holder-rendered="true" style="object-fit: cover; width: 200px; height: 250px;">
            </div>
        </div>
    </div>
</div>