
.spinner{
  background-color:rgba(0,0,0, 0.1);
  width:100%;
  position: fixed;
  height:100%;
  top:0;
  left:0;
  z-index:1;
  display:flex;
  justify-content:center;
  padding: 250px 0;

}
.spinner div{
  display: inline-flex; height: 200px; width: 300px; justify-content: center; align-items: center;
}

.spinner i{
  font-size:15rem;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  } to {
      -ms-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  } to {
      -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  } to {
      -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
    }
}

div .row:not(.col-12.row, .row.entete){
  background-color: antiquewhite;
  margin-bottom: 15px;
  padding: 15px;
}

p:not(p.errorReason), #price_on_sale{
  font-size: 1.5rem;
}

select{
  width: 100%;
  text-align: center;
  border: none;
  background-color: #404040;
  font-size: 1.5rem;
  color:white;
}

div .row.entete{
  margin-top: 48px;
  padding:15px;
  background-color: #404040;
  color: #fff;
}

.filtre{
  display: flex;
  justify-content: center;
  align-items: center;
}
i{
  font-size: 1.5rem;
  color: white;
}

.motif select{
  padding:0;
  background-color: white;
  color: black;
}

.hide{
  display:none;
}

label{
  margin-right: 24px;
}
input{
width: 100%;
}
.adjustPrice span{
  padding:5px;
}
.adjustPrice i{
  cursor:pointer;
}
.adjustPrice span:first-child >i{
  color: green;

}

.adjustPrice span:last-child >i{
  color: red;
}


